#main.ui-page, #info.ui-page{
   background: url(../img/fondo.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-size:100% 100%;
}

.header {
  margin: 0 auto;
  width: 100%;
}


.header h1 {
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow:0 0 0;
}




.content {
  margin: 0 auto;
  width: 45%;
}

.content input {
  font-family: Gill Sans, Verdana;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow:0 0 0;
  background-color: #C3DDDA;
}
.footer {
  margin: 0 auto;
  width: 100%;
}

.footer a {
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow:0 0 0;
}

ul li {
  list-style: none;
}

ul li p {
  font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
  text-shadow:0 0 0;
}

ul li h4 {
  font-family: Gill Sans, Verdana;
	font-size: 15px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
  text-shadow:0 0 0;
}
